/* App properties and variables: */
html {
    max-width: 810px;
    max-height: 1080px;
}
body { 
    margin: 0;
    padding: 0;
    color: var(--lm-light-azure);
    font-family: 'Inter', sans-serif;
}
:root {
    /* Light Mode: */
    --lm-light-azure: #F5F9F9;
    --lm-cyan: #99d4be;
    --lm-light-green: #9ead75;

    /* Dark Mode: */
    --dm-black: #343838;
    --dm-dark-cyan: #6B8087;
    --dm-green: #869D6A;

    /* Secondary Colors: */
    --sc-blue: #456A92;
    --sc-azure: #EAF2F3;
    --sc-beige: #E9E9E3;
    --sc-gray: #A7A79A;
    --sc-yellow: #ECD456;
    --sc-orange: #EA9D42;
    --sc-red: #DF5739;
    --sc-copper: #b65039;

    /* Shading: */
    --shd-header: rgba(105, 127, 134, 0.25);
    --shd-navbar: rgba(80, 97, 102, 0.35);
}
@font-face {
    font-family: Iceland;
    src: url(../fonts/Iceland-Regular.ttf);
}

/* Navigation bar: */ 
.sidebar {
    z-index: 5;
    display: none;
    position: absolute;
    width: 65vw;
    height: 100vh;
    background-color: var(--lm-light-green);
    box-shadow: 0px 5px 25px 5px var(--shd-navbar);
}
.sidebar .header {
    padding: 20px 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.sidebar .header h1 {
    margin-left: 8px;
    color: white;
    font-family: 'Iceland', sans-serif;
    font-weight: 900;
    font-size: 34px;
    line-height: 12px;
}
.sidebar .header button {
    height: 64px;
    background: none;
    border: none;
}
.sidebar .line {
    margin: 0;
    color: white;
    border: 1px solid white;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: 220px;
}
.navigation a {
    padding: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.navigation a:first-of-type {
    padding-top: 30px;
}

/* Dark filter (for when the focus is on something else): */
.filter {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 53, 54, 0.3);
    transition: 0.25s linear;
}
#divDarkFilter1 {
    display: none;
    z-index: 4;
}
#divDarkFilter2 {
    display: none;
    z-index: 2;
}

/* Main content: */
.main {
    z-index: 1;
    height: 100vh;
    max-width: 810px; 
    max-height: 1852px;
    background-color: var(--dm-black);
}
.button:hover {
    cursor: pointer;
}
.button:active {
    box-shadow: inset 0px 0px 4px var(--dm-black);
}

/* Header: */
.main .header {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    height: 119px;
    background-color: var(--lm-light-green);
    box-shadow: 0px 5px 25px 5px var(--shd-header);
}
.main .header button {
    margin-top: 30px;
    height: 64px;
    background: none;
    border: none;
}
.main .header button:active {
    box-shadow: none;
}
#imgCtLogo {
    height: 64px;
}
#imgUserIcon {
    height: 75px;
}

/* Page hero: */
.hero {
    margin: 30px 10vw;
}
.hero .title {
    color: var(--lm-light-green);
    text-transform: uppercase;
    font-size: 1.5rem;
}
.paragraph {
    font-size: 1.2rem;
}
.media {
    width: 100%;
    height: 100%;
}
.alert {
    text-align: center;
}
.alert .title {
    margin-top: 24px;
    margin-bottom: 12px;
    color: var(--lm-light-azure);
    font-size: 1.5rem;
}
.alert .enhance {
    color: var(--sc-orange);
}
.alert .paragraph {
    margin: 0 auto 16px;
    max-width: 540px;
    font-size: 1.2rem;
}
.alert .button {
    width: 164px;
    height: 42px;
    border-radius: 9px;
    border: none;
    background-image: linear-gradient(180deg, var(--lm-cyan), var(--dm-dark-cyan));
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.alert .button:active {
    background: var(--dm-dark-cyan);
    box-shadow: inset 0px 0px 2px var(--dm-black);
}

/* (QR code) pop-up card: */ 
.pop-up {
    z-index: 3;
    display: none;
    flex-direction: column;
    position: relative;
    margin: -60vh auto;
    padding: 20px;
    width: 285px;
    height: 425px;
    background-color: var(--lm-light-azure);
    box-shadow: 0px 5px 25px 5px var(--shd-navbar);
    border-radius: 28px;
}
.pop-up img {
    width: 285px;
    height: 305px;
    border: 1px solid var(--sc-azure);
    border-radius: 25px;
}
.pop-up .text {
    color: var(--dm-black);
    text-align: center;
}
.pop-up .flex-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pop-up .button {
    width: 140px;
    height: 45px;
    border-radius: 9px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#btnChooseFile {
    background-image: linear-gradient(180deg, var(--lm-cyan), var(--dm-dark-cyan));
}
#btnChooseFile:active {
    background: var(--dm-dark-cyan);
}

#btnExitCamera {
    background-image: linear-gradient(180deg, var(--sc-red), var(--sc-copper));
}
#btnExitCamera:active {
    background: var(--sc-copper);
}

/* Font weights: */
.semibold {
    font-weight: 600;
}

/* If the display width is 600px or higher: */
@media only screen and (min-width: 680px) {
    .sidebar {
        width: 45vw;
    }
    .hero .title {
        font-size: 2rem;
    }
    .alert .paragraph {
        font-size: 1.4rem;
    }
    .alert .button {
        width: 180px;
        height: 54px;
        font-size: 1.2rem;
    }
}