/* App properties and variables: */
@font-face {
    font-family: iceland;
    src: url(../fonts/Iceland-Regular.ttf);
}

body { 
    background-color: var(--dm-black);
    margin: 0px;
    padding: 0;
    color: var(--dm-black);
    font-family: 'Inter', sans-serif;
}
:root {
    /* Light Mode: */
    --lm-light-azure: #F5F9F9;
    --lm-cyan: #95D2BC;
    --lm-light-green: #BBCC8F;

    /* Dark Mode: */
    --dm-black: #242525;
    --dm-dark-cyan: #6B8087;
    --dm-green: #869D6A;

    /* Secondary Colors: */
    --sc-blue: #456A92;
    --sc-azure: #EAF2F3;
    --sc-beige: #E9E9E3;
    --sc-gray: #A7A79A;
    --sc-yellow: #ECD456;
    --sc-orange: #EA9D42;
    --sc-red: #DF5739;

    /* Shading: */
    --shd-header: rgba(105, 127, 134, 0.25);
    --shd-navbar: rgba(80, 97, 102, 0.35);
}

.main {
    max-width: 768px;
    color: #ffffff;
}

/* Header: */
.header {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 119px;
    background-color: var(--dm-green);
    box-shadow: 0px 5px 25px 5px var(--shd-header);
    max-width: 768px;
    color: #ffffff;
}

.login{
    flex-wrap: nowrap;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.senha{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.email-login{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.senha-login{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputLog{
    width: 300px;
    height: 25px;
    border-radius: 10px;
}

.uncorrect{
    font-size: 10pt;
    color: var(--sc-red);
    font-weight: bold;
}

.login-Send{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.login-Send a{
    color: white;
    text-decoration: none;
    font-size: 14pt;
}

.login-Send button{
    width: 200px;
    height: 40px;
    font-size: 13pt;
    color: white;
    font-weight: bolder;
    background-color: var(--dm-dark-cyan);
}

.textName{
    font-family: iceland;
    font-size: 22pt;
}

.mostrarSenha{
    border-radius: 100px;
}