body { 
    margin: 0;
    padding: 0;
    max-width: 425px; 
    max-height: 1852px;
}
:root {
    /* Light Mode: */
    --lm-light-azure: #F5F9F9;
    --lm-cyan: #95D2BC;
    --lm-light-green: #BBCC8F;

    /* Dark Mode: */
    --dm-black: #3D4243;
    --dm-dark-cyan: #6B8087;
    --dm-green: #869D6A;

    /* Secondary Colors: */
    --sc-blue: #456A92;
    --sc-azure: #EAF2F3;
    --sc-beige: #E9E9E3;
    --sc-gray: #A7A79A;
    --sc-yellow: #ECD456;
    --sc-orange: #EA9D42;
    --sc-red: #DF5739;

    /* Shading: */
    --shd-header: rgba(105, 127, 134, 0.25);
}

.app {
    height: 926px;
    background-color: var(--lm-light-azure);
    color: var(--dm-black);
}

.header {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    height: 119px;
    background-color: var(--sc-azure);
    box-shadow: 0px 5px 25px 5px var(--shd-header);
}
.header img {
    margin-top: 30px;
}
#imgCtLogo {
    height: 64px;
}
#imgUserIcon {
    height: 75px;
}

.content {
    margin: 30px;
}